#fullPageDt {
  overflow-y: hidden;
  height: 100vh;
}

.row {
  margin: 0 auto !important;
}

#bcSection {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    150deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(160, 158, 158, 1) 48%,
    rgba(133, 132, 132, 1) 100%
  );
  overflow-y: scroll;
}

#bcContent {
  height: 100vh;
}

.bioR {
  min-width: 100%;
}

#picCont {
  display: flex;
  justify-content: center;
}

#selfie {
  max-height: 300px;
  max-width: 100%;
  border-radius: 50%;
}

#bioCont {
  padding: 10px;
}

.socialLinksCont {
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
  padding: 30px;
}

.socialLinksCont a.tip {
  text-decoration: none;
}

.socialLinksCont a.tip:hover {
  cursor: help;
  position: relative;
}

.socialLinksCont a.tip span {
  display: none;
}

.socialLinksCont a.tip:hover span {
  padding: 5px;
  border-radius: 25px;
  display: block;
  z-index: 100;
  font-size: 18px;
  width: 120px;
  top: 100%;
  left: -150%;
  position: absolute;
  text-align: center;
  color: white;
  bottom: 0;
  text-decoration: none;
}

.contactCont {
  padding: 30px;
  text-align: center;
}

#pSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

.smallView {
  position: relative;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

.mobileBground {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -3;
}

#mobilePic {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: -3;
  background: darkgrey;
}

#socLinkMob {
  background: rgb(65, 63, 63);
  min-width: 100vw;
}

#mobileBioCont {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  min-width: 100vw;
}

#mobileBio {
  background: rgba(255, 251, 251, 0.932);
  padding: 20px;
  color: rgb(88, 86, 86);
  margin-bottom: 0;
}

#mobileContactArea {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  color: white;
  min-width: 100vw;
}

#mobileContactArea form {
  padding: 10px;
}
