#fullPageDt {
  overflow-y: hidden;
  height: 100vh;
}

.row {
  margin: 0 auto !important;
}

#bcSection {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: darkgrey;
  overflow-y: scroll;
}

#bcContent {
  height: 100vh;
}

.bioR {
  min-width: 100%;
}

#picCont {
  display: flex;
  justify-content: center;
}

#selfie {
  max-height: 400px;
  max-width: 100%;
  border-radius: 50%;
}

#bioCont {
  padding: 10px;
}

#socialLinksCont {
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
  padding: 30px;
}

#contactCont {
  padding: 30px;
}

#pSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
